<h1>Lista de filmes</h1>
<%= link_to 'Adicione um Filme', new_movie_path, :class => 'btn btn-primary' %>
<div id = "filmes">
  <div class="row">
    <div class="col-8">Nome do Filme</div>
    <div class="col-2">Classificação Indicativa</div>
    <div class="col-2">Data de Lançamento</div>
  </div>
  <%- @movies.each do |movie| %>
    <div class="row">
      <div class="col-8"> <%= link_to movie.title, movie_path(movie) %> </div>
      <div class="col-2"> <%= movie.rating %></div>
      <div class="col-2"> <%= movie.release_date.strftime('%F') %> </div>
    </div>
  <% end %>
</div>


