<body>
  <h1>Adicione um novo Filme</h1>

  <form action="/movies" method="post">

    <label for="movie_title">Nome</label>
    <input type="text" id="movie_title" name="movie[title]">

    <label for="movie_rating">Classificação Indicativa</label>
    <select id="movie_rating" name="movie[rating]">
      <option value="G">G</option>
      <option value="PG">PG</option>
      <option value="PG-13">PG-13</option>
      <option value="R">R</option>
      <option value="NC-17">NC-17</option>
    </select>

    <label for="movie_release_date">Data de Lançamento</label>
    <input type="date" id="movie_release_date" name="movie[release_date]">

    <input type="submit" value="Salvar Alterações">
  </form>
</body>